user.config
engine

# Visual Studio
.vs
Release
bin
obj
*.ncb
*.vcproj*
*.suo
*.user
*.sln.cache
*.manifest
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
_ReSharper.*/
/.vs

# Visual Studio Code
/.vscode/settings.json

# binaries
#mods/*/*.dll
#mods/*/*.mdb
#mods/*/*.pdb
#/*.dll
#/*.dll.config
#/*.so
#/*.dylib
#/*.pdb
#/*.mdb

# backup files by various editors
*~
*.orig
\#*
.*.sw?

# Monodevelop
*.pidb
*.userprefs

# Mac OS X
.DS_Store

# XCode
temp.c
temp.o
temp.s
*.resources

# SublimeText
*.sublime-project
*.sublime-workspace
